/* */
.centeredText {
    text-align: center;
}

.centeredBlock {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}
.error {
    color: red;
}
table, th, td {
    border: 1px solid black;
}
th {
    font-weight: bold;
}